@import "settings";
@import "foundation";
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

hr {
  text-align: center;
  margin: 1em auto;
}
ul {
  text-transform: uppercase;
}
ul.inline-list.right {
  text-transform: none;
}
ul.inline-list.right a {
  color: #000;
}
ul.inline-list.right a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.hero-row {
  h1 {
    font-size: 32px;
    color: #fff;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
  }
  h2 {
    color: #fff;
    font-size: 36px;
    line-height: 34px;
  }
  h3 {
    font-size: 24px;
    color: #fff;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
  }
  h4 {
    font-family: $header-font-family;
    color: #000;
    font-size: 28px;
    padding-top: 5px;
  }
}
.columns.large-centered {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 40em) {
  .columns.large-centered {
    font-size: 13px;
  }
}
@media only screen and (min-width: 40.063em) {
  .columns.large-centered {
    font-size: 14px;
  }
}
.announcements {
  @include grid-row();
}

.main-content {
  @media #{$medium-up} {
    @include grid-column(8);
  }
  @media #{$small-only} {
    @include grid-column(11, $center: true);
  }
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.sidebar {
    @media #{$medium-up} {
      @include grid-column(4);
    }
    @media #{$small-only} {
      @include grid-column(11, $center: true);
    }

  h1, h2, h3, h4, h5, h6, p, li {
    color: white;
  }
  .box {
    padding: 1em;
    background-color: rgba(255,255,255,0.3);
  }
  caption {
    display: block;
  }
}

.home-content {
  @include grid-row($behavior: nest);
}

.photoshots-grid {
  @include block-grid (
    $per-row: 4,
    $spacing: 0.01em,
    $base-style: true
  );
}

/*
==========================================================================
photoshots Intro
========================================================================== */
.photoshots-intro {
    padding: 170px 0 100px 0;
    background-color: #f6f7f9;
}
.photoshots-intro h1 {
    margin-bottom: 20px;
    color: #24374b;
    font-weight: 400;
    font-size: 22px;
}
.photoshots-intro p {
    margin-bottom: 25px;
    color: #778899;
}

/* ============================================================
photoshots
========================================================= */

.photoshots figure {
    position: relative;
    overflow: hidden;
    margin: 0;
  padding: 0;

}
.photoshots figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.photoshots figure:hover img, .photoshots figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.photoshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 97, 132, 0.85);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.photoshots figcaption a {
    color: #fff
}
.photoshots figcaption a:hover, .photoshots figcaption a:focus {
    color: #73d0da
}
.photoshots figure:hover figcaption, .photoshots figure:focus figcaption {
    opacity: 1
}
.visible {
    opacity: 1
}
.photoshots figure.cs-hover figcaption {
    opacity: 1
}
.photoshots figcaption i {
    font-size: 35px
}
.photoshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.photoshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.photoshots figure:hover figcaption .caption-content, .photoshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}


.black-box {
  @media #{$medium-up} {
    @include grid-column(6);
    margin-left: 1em; margin-right: -1em;
  }
  @media #{$small-only} {
    @include grid-column(11, $center: true);
    text-align: center;
  }
  background-color: rgba(0, 0, 0, 0.55);
  padding: 2em;
  font-weight: 900;
  color: #fff;
  h4 {
    font-weight: 900;
  }
}
.trans-box {
  @media #{$medium-up} {

    @include grid-column(5, $offset:1, $last-column: true);
    text-align: left;
  }
  @media #{$small-only} {
    @include grid-column(12);
    text-align: center;
  }
  background-color: rgba(255, 255, 255, 0);
  padding: 1em;
  p {
    color: white;
  }
  a {
    background: black;
    padding: 0.5em;
  }
  a:hover {
    text-decoration: underline;
  }
  h3 {
    line-height: 140%;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    text-align: left;
  }
}

.secondary.small.button {
  background-color: transparent;
  color: #fff;
  border: 2px #fff solid;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  margin: 0;
}
.secondary.small.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.logo {
  @include grid-row();
  margin-bottom: 2em;
  border-bottom: 1px solid white;
  .button-group li .button {
    border: 0!important;
  }
  .button {
    -webkit-appearance: none;
    background-color: transparent;
    border-width: 0;
    text-align: center;
    box-shadow: 0 0 0;
    margin-top: 1em;
  }
  .button:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
  }
}
.top-bar {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.top-bar .name a img {
  width: auto;
  height: rem-calc(80);
  padding-left: 1em;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
}

.top-bar-section li a:hover {
}

.hero-row, .innerpage-row {
  padding-top: 2em;
  @include grid-row();
}

footer p,
footer a {
  font-size: 14px;
}
.hero {
  padding-bottom: 2em;
  background-image: url("../img/roof-bg.jpg");
  background-size: cover;
  background-position: bottom right;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2);
}
.hero-content {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #eaeaea;
  border-top: 1em solid #fafafa;
}
.panel {
  margin: 40px 0 40px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #EAEAEA;
}
.large-4 img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
panel .radius.button {
  color: #000;
  border: 2px #000 solid;
  background: transparent;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  margin: 0;
  font-size: 0.8125em;
}
@media only screen and (min-width: 64.063em) {
  .radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin-top: 25px;
    font-size: 0.8125em;
  }
}
@media only screen and (min-width: 40.063em) {
  .radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin-top: 25px;
    font-size: 0.8125em;
  }
}
.radius.right.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@import "responsive";
@import "style";
