/* clearfix */
.cf:before, .shalom-site-head .shalom-blog-title:before, .shalom-site-head .shalom-blog-description:before, .shalom-header:before, .shalom-index-content .shalom-mobile-sort:before, .shalom-index-content .shalom-index-sort:before,
.cf:after,
.shalom-site-head .shalom-blog-title:after,
.shalom-site-head .shalom-blog-description:after,
.shalom-header:after,
.shalom-index-content .shalom-mobile-sort:after,
.shalom-index-content .shalom-index-sort:after {
    content: " ";
    display: table;
}

.cf:after, .shalom-site-head .shalom-blog-title:after, .shalom-site-head .shalom-blog-description:after, .shalom-header:after, .shalom-index-content .shalom-mobile-sort:after, .shalom-index-content .shalom-index-sort:after {
    clear: both;
}

html {
    min-height: 100%;
    height: auto;
}

body {
    min-height: 100%;
    background-color: #fff;
    line-height: 1;
    /* fixed background for mobile */
}

body .shalom-body-background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

body .shalom-body-bg-overlay {
    display: none;
}

body.home-template {
    background-color: #fff;
}

.touch body {
    background-color: #fff;
}

.touch body .shalom-body-background {
    opacity: .5;
}

/* appropriate fixed background works on android 4.4 */
html[data-useragent*='Android 4.4'] body {
    background-position: 50% 0;
    -webkit-background-size: auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html[data-useragent*='Android 4.4'] body .shalom-body-background {
    display: none;
}

html[data-useragent*='Android 4.4'] body .shalom-body-bg-overlay {
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.65);
}


p, ul, ol {
    font-size: 1rem;
    line-height: 1.35;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 40.063em) {
    p, ul, ol {
        font-size: 1.1875rem;
        line-height: 1.6;
    }
}

p a {
    text-decoration: underline;
}

ul {
    margin-left: 1.2rem;
}

ol {
    margin-left: 1.6rem;
}

a {
    color: inherit;
}

a:hover, a:active, a:focus {
    color: #0c0c0c;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0.3125rem;
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

pre {
    word-wrap: break-word;
    margin-bottom: 1.5625rem;
}

code {
    font-size: 0.9375rem;
    line-height: 1.2;
    padding: 0 0.3125rem;
    background: transparent;
    border: 0;
}

iframe {
    border: 0;
}

/*******************************/
/* shalom site head styles */
/*******************************/

.home-template .shalom-site-head
{
  background: #fff;
  padding-top: 1.875rem;
  padding-bottom: 1.5625rem;
  background-color: rgba(255,255,255,0.8);
  @media only screen and (min-width: 40.063em) {
    padding-bottom: 3.4375rem;
    padding-top: 3.125rem;
  }
  .shalom-blog-title {
    padding-bottom: 0;
  }
  &.with-post-image {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    @media only screen and (min-width: 40.063em) {
      padding-top: 1.875rem;
      padding-bottom: 2.1875rem;
    }
  }
}

.shalom-site-head {
    border-top: 0.625rem solid #252525;
    padding-top: 3.125rem;
    padding-bottom: 4.375rem;
    z-index: 2;
}





@media only screen and (min-width: 40.063em) {
    .shalom-site-head {
        padding-bottom: 8.125rem;
    }
}

.shalom-site-head h1, .shalom-site-head h2, .shalom-site-head h3, .shalom-site-head h4,
.shalom-site-head h5, .shalom-site-head h6 {
    color: #f5f5f5;
}

.shalom-site-head .shalom-blog-title {
  @include grid-row();

}

.shalom-site-head .shalom-blog-description {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 70em) {
    .shalom-site-head .shalom-blog-title, .shalom-site-head .shalom-blog-description {
        width: 93%;
    }
}

@media only screen and (min-width: 90.063em) {
    .shalom-site-head .shalom-blog-title, .shalom-site-head .shalom-blog-description {
        width: 83%;
    }
}

.shalom-site-head .shalom-blog-title {
    padding-bottom: 2.5rem;
}

@media only screen and (min-width: 40.063em) {
    .shalom-site-head .shalom-blog-title {
        padding-bottom: 3rem;
    }
}

.shalom-site-head .shalom-blog-title .shalom-site-logo {
    line-height: 2.8125rem;
    vertical-align: middle;
    float: left;
    padding-left: 0.9375rem;
}

.shalom-site-head .shalom-blog-title .shalom-site-logo img {
    max-height: 2.75rem;
}

.shalom-site-head .shalom-blog-description h2 {
    font-family: $font-family-serif, Georgia, serif;
    font-weight: 400;
    font-size: 2.25rem;
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    text-align: center;
    line-height: 1;
    margin: 0;
}

@media only screen and (min-width: 40.063em) {
    .shalom-site-head .shalom-blog-description h2 {
        font-size: 3rem;
        letter-spacing: 0.0625rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.shalom-site-head .shalom-blog-description h3 {
    margin: 0;
    font-size: 1.125rem;
    text-align: center;
    padding-bottom: 2.5rem;
}

@media only screen and (min-width: 40.063em) {
    .shalom-site-head .shalom-blog-description h3 {
        padding-bottom: 1.25rem;
    }
}

.shalom-header {
  float: left;

  @media #{$small-up} {
    width: 25%;
  }
  @media #{$small-only} {
    h1.site-title {
      width: 100%;
      @media #{$landscape} {
        width: 60%;
      }
    }
    width: 60%;
  }
}

.shalom-header h1 {
    font-family: Georgia, serif;
    font-weight: 300;
    display: block;
    font-size: 2.25rem;
    margin: 0;
    padding-left: 0.3125rem;
    padding-right: 0.9375rem;
}

.shalom-header h1.site-title {
  color: $oil;
  background-size: contain;
  font-family: $font-family-sans-serif, sans-serif;
  font-size: 1.1em;
  a:hover {
    color: $primary-color;
  }
  .home-template & {
    color: $snow;

  }
  @media #{$medium-up} {
    font-size: 1.2em;
  }
  position: relative;
  padding: 0 0.9375;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  strong {
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 1.5em;
  }
}



@media only screen and (min-width: 40.063em) {
    .shalom-header h1 {
        text-align: left;
    }
}

.shalom-header h1 a {
    color: inherit;
}

.shalom-blog-menu {
    padding-top: 0;
    margin-right: 0.9375rem;
    float: right;
    font-family: $font-family-serif, Georgia, serif;
    font-weight: 400;
    font-size: 2.625rem;
}

.shalom-blog-menu .shalom-mobile-menu a {
    outline: none;
    color: #252525;
}

.shalom-blog-menu ul {
    background: rgba(37,37,37,0.8);
    position: absolute;
    width: 100%;
    -webkit-transform: translate3d(0, -110%, 0);
    -ms-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    -o-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    padding-top: 0;
    padding-bottom: 3.125rem;
    -webkit-user-select: none;
    user-select: none;
}

.shalom-blog-menu ul li {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0.3125rem;
    font-size: 2.25rem;
}

.shalom-blog-menu ul li a {
    color: #fff;
    text-transform: uppercase;
  font-family: $body-font-family;
  letter-spacing: 0.125rem;

    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

.shalom-blog-menu ul li.shalom-mobile-close-btn {
    padding-right: 1.25rem;
}

.shalom-blog-menu ul li.shalom-mobile-close-btn a {
    color: #fff;
}

.shalom-blog-menu ul.opened {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media only screen and (min-width: 40.063em) {
    .shalom-blog-menu {
        padding-top: 0.625rem;
        font-size: 1rem;
    }

    .shalom-blog-menu ul {
        background: transparent;
        position: relative;
        width: auto;
        list-style-type: none;
        margin: 0;
        width: auto;
        overflow: auto;
        -webkit-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        visibility: visible;
        padding-top: 0;
        padding-bottom: 0;
    }

    .shalom-blog-menu ul li {
        display: inline-block;
        margin-left: 1.25rem;
        width: auto;
        font-size: 1rem;
        text-align: left;
        padding: 0;
    }

    .shalom-blog-menu ul li a {
        color: $oil;
        position: relative;
        display: inline-block;
      .home-template & {
        color: $snow;
      }
    }

    .shalom-blog-menu ul li a:after {
        position: absolute;
        opacity: 0;
        content: " ";
        display: block;
        width: 0;
        height: 0.125rem;
        background-color: $primary-color;
        bottom: 0px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .shalom-blog-menu ul li a:hover, .shalom-blog-menu ul li a:focus, .shalom-blog-menu ul li a:active {
        text-decoration: none;
      color: $primary-color;
    }

    .shalom-blog-menu ul li a:hover:after, .shalom-blog-menu ul li a:focus:after, .shalom-blog-menu ul li a:active:after {
        opacity: 1;
        width: 100%;
    }

    .shalom-blog-menu ul li a.search-menu-btn {
        font-size: 1.125rem;
    }

    .shalom-blog-menu ul li a.search-menu-btn:after {
        display: none;
    }
}
.shalom-menu {
  z-index:200;
}

.headroom {
    padding: 1.25rem;
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    background-color: rgba(15,15,15,0.8);
    color: #fff;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate(0, -100%);
    transform: translate3d(0, -100%, 0);
}

.headroom.headroom--not-top {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
}

.headroom.headroom--top {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate(0, -100%);
    transform: translate3d(0, -100%, 0);
}

.headroom .shalom-site-logo {
  vertical-align: middle;
  line-height: 2.8125rem;
  float: left;
}
.headroom .shalom-site-logo img {
    max-height: 2.2rem;
}


.headroom .shalom-blog-menu {
    color: #fff;
    padding-top: 0;
}

.headroom .shalom-blog-menu ul, .headroom .shalom-blog-menu li {
    color: #fff;
}

.headroom .shalom-blog-menu a {
    color: #fff;
}

.headroom .shalom-blog-menu a:after {
    background-color: $primary-color;
    height: 0.125rem;
}

.headroom .shalom-header {
    color: $ghost;
}

.headroom .shalom-header h1.site-title {
  font-size: 1em;
  margin-top: 0.2em;
  width: 100%;
  @media #{$landscape} {
    width: 85%;
  }
  color: $ghost;

}

.big-search {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(37, 37, 37, 0.95);
    -webkit-user-select: none;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    z-index: 99999;
    overflow-y: auto;
}

.big-search .big-search-close-btn {
    font-size: 3.75rem;
    text-align: center;
    position: absolute;
    right: 2.1875rem;
    top: 2.1875rem;
    overflow: hidden;
    border: none;
    color: #fff;
    outline: none;
    z-index: 100;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.big-search.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.big-search .big-search-container {
    margin-top: 11%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.big-search .big-search-container .big-search-form-input {
    color: #fff;
    height: 7.5rem;
    font-size: 3.125rem;
    padding: 1.25rem 0;
    font-weight: 900;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    border-bottom: 0.1875rem solid #fff;
    font-family: Georgia, serif;
}

.big-search .big-search-container .big-search-form-input:focus {
    box-shadow: none;
    background-color: transparent;
}

.big-search .big-search-container .big-search-form-input::-webkit-input-placeholder {
    color: #fff;
}

.big-search .big-search-container .big-search-form-input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.big-search .big-search-container .big-search-form-input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.big-search .big-search-container .big-search-form-input:-ms-input-placeholder {
    color: #fff;
}

.big-search .big-search-container .big-search-results {
    color: #fff;
    font-family: Georgia, serif;
}

.big-search .big-search-container .big-search-results > p {
    font-weight: 600;
    font-size: 2.25rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.big-search .big-search-container .big-search-results a {
    color: #fff;
}

.big-search .big-search-container .big-search-results a p, .big-search .big-search-container .big-search-results a h1,
.big-search .big-search-container .big-search-results a h2, .big-search .big-search-container .big-search-results a h3,
.big-search .big-search-container .big-search-results a h4, .big-search .big-search-container .big-search-results a h5,
.big-search .big-search-container .big-search-results a h6 {
    color: #fff;
    font-weight: 400;
    text-transform: none;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.big-search .big-search-container .big-search-results a:hover, .big-search .big-search-container .big-search-results a:active, .big-search .big-search-container .big-search-results a:focus {
    text-decoration: none;
}

.big-search .big-search-container .big-search-results a:hover p, .big-search .big-search-container .big-search-results a:hover h1, .big-search .big-search-container .big-search-results a:hover h2, .big-search .big-search-container .big-search-results a:hover h3, .big-search .big-search-container .big-search-results a:hover h4, .big-search .big-search-container .big-search-results a:hover h5, .big-search .big-search-container .big-search-results a:hover h6 {
    color: #999999;
}

/**********************************/
/* shalom index site content styles*/
/**********************************/
.shalom-index-content {
//  padding-top: 1.25rem;
//  padding-left: 0.625rem;
//  padding-right: 0.625rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

  .shalom-index-content .shalom-mobile-sort {
    position: relative;
    z-index: 1;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 0.3125rem;
    text-align: center; }
    .shalom-index-content .shalom-mobile-sort i.fa {
      display: block;
      width: 7.5rem;
      padding: 0.9375rem;
      background: #fff;
      cursor: pointer; }
      .shalom-index-content .shalom-mobile-sort i.fa span {
        font-family: $header-font-style, Georgia, serif; }
    @media only screen and (min-width: 40.063em) {
      .shalom-index-content .shalom-mobile-sort {
        margin-bottom: 1.75rem; } }
    @media only screen and (min-width: 70em) {
      .shalom-index-content .shalom-mobile-sort {
        display: none; } }
  .shalom-index-content .shalom-index-sort {
    position: relative;
    z-index: 1;
    margin-bottom: 2.1875rem;
    font-family: $body-font-style, Georgia, serif;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    display: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media only screen and (min-width: 70em) {
      .shalom-index-content .shalom-index-sort {
        display: block !important; } }
    .shalom-index-content .shalom-index-sort .shalom-sort-options, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options {
      background: #fff;
      text-align: center; }
      .shalom-index-content .shalom-index-sort .shalom-sort-options li a, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a {
        padding: 0.3125rem;
        display: inline-block;
        width: 80%;
        font-size: 1.75rem;
        color: #323232; }
        .shalom-index-content .shalom-index-sort .shalom-sort-options li a.active, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a.active {
          text-decoration: underline; }
      @media only screen and (min-width: 70em) {
        .shalom-index-content .shalom-index-sort .shalom-sort-options, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options {
          display: block;
          text-align: left; }
          .shalom-index-content .shalom-index-sort .shalom-sort-options li, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li {
            padding: 0.625rem 0;
            margin: 0;
            margin-right: 0.625rem;
            display: inline-block; }
            .shalom-index-content .shalom-index-sort .shalom-sort-options li a, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a {
              color: #585858;
              -webkit-transition: all .2s;
              -ms-transition: all .2s;
              -moz-transition: all .2s;
              -o-transition: all .2s;
              transition: all .2s;
              display: block;
              padding: 0.3125rem 0.625rem;
              font-weight: 300;
              font-size: 0.9375rem;
              width: auto; }
              .shalom-index-content .shalom-index-sort .shalom-sort-options li a:hover, .shalom-index-content .shalom-index-sort .shalom-sort-options li a.active, .shalom-index-content .shalom-index-sort .shalom-sort-options li a:active, .shalom-index-content .shalom-index-sort .shalom-sort-options li a:focus, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a:hover, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a.active, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a:active, .shalom-index-content .shalom-index-sort .shalom-sort-groups-options li a:focus {
                color: #d8d8d8;
                text-decoration: none;
                background: #252525; } }
    .shalom-index-content .shalom-index-sort .shalom-sort-groups-options {
      margin: 0;
      padding: 3.4375rem 1.25rem 1.25rem; }
      @media only screen and (min-width: 70em) {
        .shalom-index-content .shalom-index-sort .shalom-sort-groups-options {
          float: left;
          padding: 0 0 0 0.625rem; } }
    .shalom-index-content .shalom-index-sort .shalom-too-wide-sort {
      display: none; }
    @media only screen and (min-width: 70em) {
      .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-too-wide-sort {
        position: relative;
        z-index: 1;
        float: left;
        padding-left: 0;
        padding-right: 0.9375rem;
        margin-bottom: 0.3125rem;
        text-align: center;
        display: block; }
        .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-too-wide-sort i.fa {
          display: block;
          padding: 1.1875rem;
          background: #fff;
          cursor: pointer; }
          .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-too-wide-sort i.fa span {
            font-family: "Playfair Display", Georgia, serif; } }
    @media only screen and (min-width: 70em) {
      .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-sort-groups-options {
        position: absolute;
        top: 4.0625rem;
        z-index: 98;
        left: 0.9375rem;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all .6s;
        transition: all .6s;
        min-width: 12.5rem;
        box-shadow: 0 0 0.625rem rgba(37, 37, 37, 0.15); }
        .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-sort-groups-options.active {
          max-height: 125rem; }
        .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-sort-groups-options li {
          display: block;
          padding: 0.3125rem 0; }
          .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-sort-groups-options li:first-child {
            padding-top: 0.625rem; }
          .shalom-index-content .shalom-index-sort.dropdown-sorter .shalom-sort-groups-options li:last-child {
            padding-bottom: 0.625rem; } }
    .shalom-index-content .shalom-index-sort .shalom-sort-options {
      margin: 0;
      padding: 1.25rem 1.25rem 3.4375rem; }
      .shalom-index-content .shalom-index-sort .shalom-sort-options li {
        display: inline-block; }
        .shalom-index-content .shalom-index-sort .shalom-sort-options li a {
          width: 3.125rem;
          text-align: center; }
          .shalom-index-content .shalom-index-sort .shalom-sort-options li a.active {
            color: #fff;
            text-decoration: none;
            background: #252525; }
      @media only screen and (min-width: 70em) {
        .shalom-index-content .shalom-index-sort .shalom-sort-options {
          float: right;
          padding: 0 0 0 0.625rem; }
          .shalom-index-content .shalom-index-sort .shalom-sort-options li {
            padding-left: 0;
            padding-right: 0;
            min-width: 2.1875rem; }
            .shalom-index-content .shalom-index-sort .shalom-sort-options li a {
              width: auto; } }
  .shalom-index-content .shalompost {
    margin: 0.9375rem 0 0.9375rem;
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
    width: 100%; }
    @media only screen and (min-width: 40.063em) {
      .shalom-index-content .shalompost {
        width: 50%; } }
    @media only screen and (min-width: 64.063em) {
      .shalom-index-content .shalompost {
        width: 33.33333%; } }
    .shalom-index-content .shalompost .shalompost-container {
      padding: 0 1rem 2.375rem;
      background: #fff; }
    .shalom-index-content .shalompost .shalompost-title {
      font-size: 1.875rem;
      padding-bottom: 1.25rem;
      margin: 0;
      font-weight: 300;
      letter-spacing: -0.0625rem;
      line-height: 1.1; }
      .shalom-index-content .shalompost .shalompost-title a {
        color: inherit;
        -webkit-transition: color .3s;
        -ms-transition: color .3s;
        -moz-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s; }
    .shalom-index-content .shalompost p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.3; }
    .shalom-index-content .shalompost .shalompost-meta {
      color: $oil;
      padding-top: 1.125rem;
      padding-bottom: 0.625rem;
      font-size: 1.125rem; }
    .shalom-index-content .shalompost .shalompost-tags {
      color: #999;
      font-size: 0.8125rem; }
      .shalom-index-content .shalompost .shalompost-tags a {
        color: inherit; }
        .shalom-index-content .shalompost .shalompost-tags a:hover, .shalom-index-content .shalompost .shalompost-tags a:active, .shalom-index-content .shalompost .shalompost-tags a:focus {
          color: inherit; }
    .shalom-index-content .shalompost .shalom-index-author {
      color: #999;
      font-size: 0.8125rem;
      padding-top: 0.9375rem;
      line-height: 1.5625rem; }
      .shalom-index-content .shalompost .shalom-index-author .shalom-index-author-image {
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 100%;
        float: left;
        margin-right: 0.3125rem; }
      .shalom-index-content .shalompost .shalom-index-author a {
        color: inherit; }
        .shalom-index-content .shalompost .shalom-index-author a:hover, .shalom-index-content .shalompost .shalom-index-author a:active, .shalom-index-content .shalompost .shalom-index-author a:focus {
          color: inherit; }
    .shalom-index-content .shalompost .flex-video {
      margin-bottom: 0; }
    .shalom-index-content .shalompost .shalompost-img {
      position: relative;
      overflow: hidden; }
      .shalom-index-content .shalompost .shalompost-img h1, .shalom-index-content .shalompost .shalompost-img h2, .shalom-index-content .shalompost .shalompost-img h3, .shalom-index-content .shalompost .shalompost-img h4, .shalom-index-content .shalompost .shalompost-img h5, .shalom-index-content .shalompost .shalompost-img h6, .shalom-index-content .shalompost .shalompost-img p {
        margin: 0;
        padding: 0; }
      .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay {
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.3);
        overflow: hidden; }
        .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay .zoom-icon, .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay .url-icon {
          position: absolute;
          font-size: 1.625rem;
          outline: none;
          color: #000;
          top: -20%;
          opacity: 0; }
          .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay .zoom-icon .fa-circle, .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay .url-icon .fa-circle {
            color: #fff; }
        .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay .zoom-icon {
          -webkit-transition: all .3s;
          -ms-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          left: 33%; }
        .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay .url-icon {
          -webkit-transition: all .5s;
          -ms-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          left: 52%; }
        .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay.hovered {
          width: 94%;
          height: 94%;
          top: 3%;
          left: 3%; }
          .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay.hovered .zoom-icon, .shalom-index-content .shalompost .shalompost-img .shalom-image-overlay.hovered .url-icon {
            top: 50%;
            opacity: 1;
            margin-top: -1.625rem; }
    .shalom-index-content .shalompost.featured:before {
      position: absolute;
      bottom: 0.5rem;
      right: 1.5rem;
      content: "\f005";
      color: #fff;
      font-family: "FontAwesome";
      font-size: 1rem;
      display: block;
      z-index: 2; }
    .shalom-index-content .shalompost.featured:after {
      content: " ";
      position: absolute;
      display: block;
      bottom: -1.6875rem;
      right: 0.5625rem;
      width: 0;
      height: 0;
      border-top: 2.5rem solid transparent;
      border-bottom: 2.5rem solid transparent;
      border-right: 2.5rem solid #252525;
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg); }

.shalom-index-head {
  text-align: center;
  &.shalom-index-head-cover {
    padding-left: 0;
    padding-right: 0;
    .shalom-index-cover {
      width: 100%;

      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 80% 30%;
      box-shadow: inset 4px 0px 90px 10px rgba(0, 0, 0, 0.4);
      padding-top: 8rem;
      @media #{$medium-up} {
        padding-top: 10rem;
        height: 37.5rem;
      }
      .shalom-index-title {
        border: 0;
        padding: 0;
        color: #fff;
        margin: 0;
        background-color: rgba(37, 37, 37, 0.6);
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        @media #{$medium-up}  {
          padding: 0;
          padding: 1.5625rem 0.9375rem 5rem;
          margin: 0;
        }
      }
    }
  }
  h1.shalom-index-title {
    font-size: 2rem;
    letter-spacing: normal;
     margin-bottom: 1.5625rem;
    margin-top: 0;
    border-top: 1px solid #dadada;
    padding-top: 0.625rem;
    padding-bottom: 1rem;
    line-height: 1.1;
    @media #{$medium-up} {
      font-size: 3.0rem;
      margin-bottom: 1rem;
      letter-spacing: 0.0625rem;
      line-height: 1.1;
    }
  }
}


//@media only screen and (min-width: 40.063em) {
//    .shalom-index-container {
//        padding-top: 3rem;
//    }
//}
//
//@media only screen and (min-width: 70em) {
//    .shalom-index-container {
//        width: 93%;
//    }
//}
//
//@media only screen and (min-width: 90.063em) {
//    .shalom-index-container {
//        width: 83%;
//    }
//}



.shalom-gallery .item {
    margin: 0.1875rem;
}

.shalom-gallery .item img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.gmaps img {
    max-width: none;
}

.shalom-index-bg1,
.shalom-index-bg2,
.shalom-index-bg3,
.shalom-index-bg4 {
    position: fixed;
    width: 200%;
    height: 200%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.35);
    top: -50%;
    z-index: 0;
}

.shalom-index-bg1 {
    left: -60%;
}

.shalom-index-bg2 {
    left: -30%;
}

.shalom-index-bg3 {
    left: 0;
}

.shalom-index-bg4 {
    left: 30%;
}

/********************/
/* shalom site footer */
/********************/
.shalom-site-footer {
    background: #fff;
    padding: 1.125rem 0;
    font-weight: 300;
    color: #252525;
    text-align: left;
    position: relative;
    z-index: 2;
  p, ul, ol, a {
    font-size: 0.875rem;
  }
  .shalom-copyright {
   font-size: 0.675rem;
  }
  @media #{$medium-up} {
    p, ul, ol, a {
      font-size: 1rem;
    }
  }
}

.shalom-site-footer a:hover, .shalom-site-footer a:active, .shalom-site-footer a:focus {
    color: inherit;
    text-decoration: underline;
}

.shalom-site-footer .shalom-social-icons {
    text-align: center;
    padding-bottom: 1.25rem;
    font-size: 2.8125rem;
}

.shalom-site-footer .shalom-social-icons a {
    -webkit-transition: color .3s;
    -ms-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    color: #252525;
}

.shalom-site-footer .shalom-social-icons a:hover, .shalom-site-footer .shalom-social-icons a:active, .shalom-site-footer .shalom-social-icons a:focus {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 40.063em) {
    .shalom-site-footer .shalom-social-icons {
        font-size: 1.875rem;
    }
}

/* load more hack */
.pagination {
    display: none;
}

.tag-template .pagination,
.author-template .pagination {
    display: block;
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
}

.tag-template .shalom-post-content .shalom-read-more a,
.author-template .shalom-post-content .shalom-read-more a {
    font-family: $font-family-serif, Georgia, serif;
    font-size: 0.875rem;
    font-weight: 300;
    display: inline-block;
    margin-top: 1.5625rem;
    padding: 0.75rem 1.25rem;
    background: #252525;
    color: #fff;
}

.shalom-load-more {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
    background: #fff;
    color: #252525;
    width: 95%;
}

@media only screen and (min-width: 40.063em) {
    .shalom-load-more {
        width: auto;
    }
}

.shalom-load-more.no-more-data:hover, .shalom-load-more.no-more-data:active {
    background: #fff;
    color: #252525;
    cursor: default;
}

.shalom-load-more:focus {
    background: #fff;
    color: #252525;
    outline: none;
}

.shalom-load-more:hover, .shalom-load-more:active, .shalom-load-more:focus {
    background: #252525;
    color: #fff;
}

/* back to to button */
.shalom-back-to-top {
    display: block;
    background: rgba(37, 37, 37, 0.9);
    color: #fff;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3.125rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    z-index: 999;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.shalom-back-to-top.post-go-top {
    bottom: 4.375rem;
}

.shalom-back-to-top.end-of-post {
    bottom: 1.25rem;
}

.shalom-back-to-top.hidden {
    right: -3.4375rem;
}

.shalom-back-to-top:hover {
    background: #181818;
}

/**********************/
/* error sites styles */
/**********************/
.shalom-error-page {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background: #252525;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.shalom-error-page .shalom-error-page-number {
    padding: 1rem 0;
    display: block;
    color: #fff;
}

.shalom-error-page .shalom-error-page-number .shalom-error-page-font {
    font-size: 2.1875rem;
}

main.shalom-index-content {
  background-color: #f5f5f5;

}
/***************** HOME ***************/


#home-slider{
	position: relative;
	overflow: hidden;
}

#home-slider .slides li{

	background-size: cover !important;
	background-position: center;
}

#home-slider .flex-direction-nav .flex-prev {
	left: -44px;
	opacity: 0.7;
	top: 48%;
}

#home-slider .flex-direction-nav .flex-next {
	right: -44px;
	opacity: 0.7;
	top: 48%;
}

#home-slider:hover .flex-direction-nav .flex-prev {
	left: 44px;
}

#home-slider:hover .flex-direction-nav .flex-next {
	right: 44px;
}

.slider-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
}
.tile-wrapper{
	border: 2px solid rgba(255,255,255,0.8);
	padding: 0.5rem;
	margin: 0px auto;
  margin-top: 2rem;
}

.slider-tile {
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	margin: 0px auto;
	text-align: center;
  padding: 1.875rem 0;

}

.slider-tile i {
    color: #252525 !important;

	font-size: 2.5rem;
}

.slider-tile h5{
    color: #252525 !important;
  font-family: $header-font-family;
  	width: 85%;
	margin: 0px auto;
  text-align: center;
  letter-spacing: 120%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.slider-tile hr {
    border-bottom: 0.125em solid $oil;
	margin-bottom: 2rem;
}

.slider-tile .biline{
	width: 85%;
	font-weight: 300;
	margin: 0px auto;
	font-family: $body-font-family;
}
.slider-tile a.button {
  margin-top: 1.875rem;
  border: 2px solid rgba(0,0,0,0.8);
  background: transparent;
  padding: 1em;
  color: $oil;
  &:hover {
    background-color: $oil;
    color: $snow;
  }

}

.hero-row {
  @include grid-row();
  h1 {
    font-size: 32px;
    color: #fff;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
  }
  h2 {
    color: #fff;
    font-size: 36px;
    line-height: 34px;
  }
  h3 {
    font-size: 24px;
    color: #fff;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
  }
  h4 {
    font-family: $header-font-family;
    color: #000;
    font-size: 28px;
    padding-top: 5px;
  }
}

#events {
  background-color: $gainsboro;
  border-top: 0.675rem solid white;
}

#newhere {
  background-color: $snow;
  ul li img {
    width: 100%;
    height: 100%;
    border: 0.0625rem solid $base;
    padding: 0.3125rem;
  }
}

#contact {
background-color: $jumbo;
  h2, h3, h4, p {
    color: $snow;
  }
    .panel {
    background-color: rgba(0,0,0,0.3);
      border: #000;
  }
}

#about {
	background: url('../img/f2.jpg');
	background-size: cover;
	background-attachment: fixed;
	position: relative;  h2, p {
    color: $snow;
  }
  .panel {
    background-color: #cdcdcd;
  }
}

#quote-division:before, #events-division:before, #about:before, #contact:before {
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
}

#quote-division, #events-division, #about, #newhere, #contact {
      padding-top: 2em;
      padding-bottom: 2em;
}

#quote-divider .thick-hr{
	margin: 0px;
	margin-top: 22px;
	margin-bottom: 32px;
	background-color: #fff;
}

#quote-divider .btn-wrapper{
	margin-right: 11px;
}

#quote-divider .btn{
	border-color: #fff;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
}

#quote-divider .btn i{
	margin-right: 5px;
}

/* clearfix */
.cf:before, .shalom-post-container:before, .shalom-post-author:before, .shalom-post-tags:before,
.cf:after,
.shalom-post-container:after,
.shalom-post-author:after,
.shalom-post-tags:after {
  content: " ";
  display: table; }

.cf:after, .shalom-post-container:after, .shalom-post-author:after, .shalom-post-tags:after {
  clear: both; }

body.post-template,
body.tag-template,
body.author-template {
  background-image: none !important;
  background-color: #fff;
  border: 0.625rem solid #252525;
  border-top: 0; }

/*******************************/
/* shalom site head styles */
/*******************************/
.post-template .shalom-site-head,
.tag-template .shalom-site-head,
.author-template .shalom-site-head,
.shalom-site-head.error-page {
  background: #fff;
  padding-top: 1.875rem;
  padding-bottom: 1.5625rem; }
  .post-template .shalom-site-head.with-post-image,
  .tag-template .shalom-site-head.with-post-image,
  .author-template .shalom-site-head.with-post-image,
  .shalom-site-head.error-page.with-post-image {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); }
  @media only screen and (min-width: 40.063em) {
    .post-template .shalom-site-head,
    .tag-template .shalom-site-head,
    .author-template .shalom-site-head,
    .shalom-site-head.error-page {
      padding-bottom: 3.4375rem;
      padding-top: 3.125rem; }
      .post-template .shalom-site-head.with-post-image,
      .tag-template .shalom-site-head.with-post-image,
      .author-template .shalom-site-head.with-post-image,
      .shalom-site-head.error-page.with-post-image {
        padding-top: 1.875rem;
        padding-bottom: 2.1875rem; } }
  .post-template .shalom-site-head .shalom-blog-title,
  .tag-template .shalom-site-head .shalom-blog-title,
  .author-template .shalom-site-head .shalom-blog-title,
  .shalom-site-head.error-page .shalom-blog-title {
    padding-bottom: 0; }

/*******************************/
/* shalom post site content styles */
/*******************************/
.shalom-post-container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden; }
  .shalom-post-container .shalom-post {
    background: #fff;
    padding: 0.625rem 1.875rem; }
    @media only screen and (min-width: 40.063em) {
      .shalom-post-container .shalom-post {
        padding: 0.625rem 4.375rem; } }
  .shalom-post-container h1, .shalom-post-container h2, .shalom-post-container h3, .shalom-post-container h4, .shalom-post-container h5, .shalom-post-container h6 {
    font-weight: 300; }
  .shalom-post-container img, .shalom-post-container .flex-video {
    margin-bottom: 1.25rem; }
  @media only screen and (min-width: 40.063em) {
    .shalom-post-container img, .shalom-post-container .flex-video {
      margin-bottom: 3.125rem; } }

.shalom-post-head {
  text-align: center; }
  .shalom-post-head.shalom-post-head-cover {
    padding-left: 0;
    padding-right: 0; }
    .shalom-post-head.shalom-post-head-cover .shalom-post-cover {
      width: 100%;
      height: 25rem;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
      @media only screen and (min-width: 40.063em) {
        .shalom-post-head.shalom-post-head-cover .shalom-post-cover {
          height: 37.5rem; } }
      .shalom-post-head.shalom-post-head-cover .shalom-post-cover .shalom-post-title {
        border: 0;
        padding: 0;
        color: #fff;
        padding: 1.875rem 0.9375rem 5rem;
        margin: 0;
        background-color: rgba(37, 37, 37, 0.6);
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center; }
        @media only screen and (min-width: 40.063em) {
          .shalom-post-head.shalom-post-head-cover .shalom-post-cover .shalom-post-title {
            padding: 0;
            padding: 1.5625rem 0.9375rem 5rem;
            margin: 0; } }
    .shalom-post-head.shalom-post-head-cover time {
      border: 0.625rem solid #fff;
      width: 6.25rem;
      height: 6.25rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: 0;
      margin-bottom: 0; }
      .shalom-post-head.shalom-post-head-cover time .date {
        padding-top: 1.25rem; }
        .shalom-post-head.shalom-post-head-cover time .date .mounth {
          display: block;
          font-size: 1.625rem; }
        .shalom-post-head.shalom-post-head-cover time .date .day {
          display: block;
          font-size: 1.125rem; }
      @media only screen and (min-width: 40.063em) {
        .shalom-post-head.shalom-post-head-cover time {
          width: 6.875rem;
          height: 6.875rem; }
          .shalom-post-head.shalom-post-head-cover time .date {
            padding-top: 1.125rem;
            padding-left: 0;
            padding-right: 0; }
            .shalom-post-head.shalom-post-head-cover time .date .mounth {
              font-size: 2rem; }
            .shalom-post-head.shalom-post-head-cover time .date .day {
              font-size: 1.25rem; } }
  .shalom-post-head h1.shalom-post-title {
    font-size: 2.25rem;
    letter-spacing: normal;
    margin-bottom: 1.5625rem;
    margin-top: 0;
    border-top: 1px solid #dadada;
    padding-top: 0.625rem;
    padding-bottom: 2.5rem;
    line-height: 1.1; }
    @media only screen and (min-width: 40.063em) {
      .shalom-post-head h1.shalom-post-title {
        font-size: 3.5rem;
        margin-bottom: 2.1875rem;
        letter-spacing: 0.0625rem;
        line-height: 1.4; } }
  .shalom-post-head time {
    display: block;
    margin: 0 auto;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background: #252525;
    text-align: center;
    font-family: "Playfair Display", Georgia, serif;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem; }
    @media only screen and (min-width: 40.063em) {
      .shalom-post-head time {
        width: 5rem;
        height: 5rem; } }
    .shalom-post-head time .date {
      padding: 0.9375rem;
      display: block;
      color: #fff; }
      @media only screen and (min-width: 40.063em) {
        .shalom-post-head time .date {
          padding: 1.3125rem; } }
      .shalom-post-head time .date .mounth {
        font-size: 1rem; }
        @media only screen and (min-width: 40.063em) {
          .shalom-post-head time .date .mounth {
            font-size: 1.375rem; } }

.shalom-post-container.error-page {
  background: #fff; }

.tag-template .shalom-post-content,
.author-template .shalom-post-content {
  padding-bottom: 5rem;
  border-bottom: 1px solid #dadada;
  margin-bottom: 3.75rem; }
.tag-template h1.shalom-post-title,
.author-template h1.shalom-post-title {
  border-top: 0 !important; }
.tag-template time,
.author-template time {
  margin-bottom: 0.625rem !important; }

.shalom-page-container .shalom-post-title,
.shalom-tag-container .shalom-post-title {
  padding: 1.5625rem 0.9375rem 2.5rem !important;
  border-top: 0 !important;
  border-bottom: 1px solid #dadada !important; }
.shalom-page-container .shalom-page,
.shalom-page-container .shalom-tag,
.shalom-tag-container .shalom-page,
.shalom-tag-container .shalom-tag {
  padding-top: 3.125rem; }
  .shalom-page-container .shalom-page img, .shalom-page-container .shalom-page .flex-video,
  .shalom-page-container .shalom-tag img,
  .shalom-page-container .shalom-tag .flex-video,
  .shalom-tag-container .shalom-page img,
  .shalom-tag-container .shalom-page .flex-video,
  .shalom-tag-container .shalom-tag img,
  .shalom-tag-container .shalom-tag .flex-video {
    border: 0.3125rem solid #fff;
    -webkit-box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3); }
  .shalom-page-container .shalom-page .shalom-post-head h1.shalom-post-title,
  .shalom-page-container .shalom-tag .shalom-post-head h1.shalom-post-title,
  .shalom-tag-container .shalom-page .shalom-post-head h1.shalom-post-title,
  .shalom-tag-container .shalom-tag .shalom-post-head h1.shalom-post-title {
    border-top: 0;
    border-bottom: 0.0625rem solid #dadada; }

.shalom-post-share {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 0;
  text-align: center; }
  .shalom-post-share > a {
    color: #252525;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .shalom-post-share .symbol {
    font-size: 3.75rem; }

.shalom-post-author {
  padding: 3.125rem 0;
  color: #595959;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5rem;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }
  @media only screen and (min-width: 40.063em) {
    .shalom-post-author {
      text-align: left; } }
  .shalom-post-author h1, .shalom-post-author h2, .shalom-post-author h3, .shalom-post-author h4, .shalom-post-author h5, .shalom-post-author h6 {
    color: #595959; }
  .shalom-post-author p {
    font-size: 1rem; }
  .shalom-post-author a {
    color: #595959; }
    .shalom-post-author a:hover {
      color: inherit;
      text-decoration: underline; }
  .shalom-post-author .shalom-post-author-avatar {
    margin-bottom: 1.25rem;
    max-width: 10rem;
    max-height: 10rem;
    width: 100%;
    height: 100%;
    border: 0.0625rem solid #dadada;
    padding: 0.3125rem; }
    @media only screen and (min-width: 40.063em) {
      .shalom-post-author .shalom-post-author-avatar {
        float: left;
        margin-right: 3.125rem;
        margin-bottom: 0; } }

.shalom-post-tags {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 1rem;
  color: #999;
  margin-bottom: 2.5rem; }
  .shalom-post-tags h2 {
    margin-bottom: 1.875rem; }
  .shalom-post-tags .shalom-tag-item {
    float: left;
    margin-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    padding: 0.625rem 0.9375rem;
    background: #252525;
    color: #fff; }
    .shalom-post-tags .shalom-tag-item a {
      color: inherit; }
      .shalom-post-tags .shalom-tag-item a:hover, .shalom-post-tags .shalom-tag-item a:active, .shalom-post-tags .shalom-tag-item a:focus {
        color: inherit; }

.shalom-author-page-avatar {
  text-align: center;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #dadada; }
  @media only screen and (min-width: 40.063em) {
    .shalom-author-page-avatar {
      padding-bottom: 6.25rem;
      margin-bottom: 6.25rem; } }
  .shalom-author-page-avatar h1 {
    font-size: 2.375rem; }
    @media only screen and (min-width: 40.063em) {
      .shalom-author-page-avatar h1 {
        font-size: 4.5rem; } }
  .shalom-author-page-avatar img {
    width: 11.25rem;
    margin-bottom: 0.9375rem;
    border: 0.3125rem solid #fff;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3); }
    @media only screen and (min-width: 40.063em) {
      .shalom-author-page-avatar img {
        width: 14.375rem; } }
  .shalom-author-page-avatar .shalom-author-page-stats {
    font-size: 1.125rem; }
    .shalom-author-page-avatar .shalom-author-page-stats .fa {
      margin-left: 0.3125rem; }

.shalom-disqus {
  margin-top: 1.875rem; }
  .shalom-disqus h2 {
    margin-bottom: 1.25rem; }

.post-template .twentytwenty-wrapper,
.tag-template .twentytwenty-wrapper,
.author-template .twentytwenty-wrapper {
  margin-bottom: 3.125rem; }
.post-template .shalom-site-footer,
.tag-template .shalom-site-footer,
.author-template .shalom-site-footer {
  display: block; }
.post-template .shalom-gallery,
.tag-template .shalom-gallery,
.author-template .shalom-gallery {
  margin-bottom: 3.125rem; }

.shalom-tag-archive-header {
  text-align: center; }
  .shalom-tag-archive-header h1 {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    padding-bottom: 3.125rem;
    font-size: 1.625rem;
    border-bottom: 1px solid #dadada; }
    @media only screen and (min-width: 40.063em) {
      .shalom-tag-archive-header h1 {
        font-size: 2.625rem;
        margin-top: 1.875rem;
        margin-bottom: 4.375rem; } }

.shalom-tags-author {
  line-height: 1.875rem;
  font-size: 1rem;
  margin-top: 1.5625rem;
  color: #999; }
  .shalom-tags-author a {
    color: #999; }
  .shalom-tags-author img {
    width: 1.875rem;
    float: left;
    margin-right: 0.3125rem;
    border-radius: 100%;
    margin-bottom: 0; }

.reading-time-indicator {
  position: fixed;
  bottom: 0;
  left: 0.625rem;
  width: calc(100% - 20px);
  background-color: rgba(255, 255, 255, 0.9);
  color: #252525;
  z-index: 9999;
  -webkit-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  -webkit-transition: transform .5s;
  -ms-transition: transform .5s;
  transition: transform .5s; }
  .reading-time-indicator.visible {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .reading-time-indicator .post-reading-time {
    width: 100%;
    position: relative;
    background-color: rgba(37, 37, 37, 0.02);
    height: 3.75rem;
    overflow-y: hidden; }
    .reading-time-indicator .post-reading-time .percent {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 1.25rem;
      font-weight: 600;
      padding-right: 0.9375rem;
      font-family: "Playfair Display", Georgia, serif;
      color: #252525; }
    .reading-time-indicator .post-reading-time .read-estimation {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1050;
      color: #252525;
      padding: 0 0.9375rem;
      height: 3.75rem;
      vertical-align: middle;
      display: table; }
      .reading-time-indicator .post-reading-time .read-estimation .reading-time-blog-logo {
        width: 3.75rem;
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .reading-time-indicator .post-reading-time .read-estimation .reading-time-blog-logo .fa {
          font-size: 1.5rem;
          color: #252525;
          padding-top: 0.3125rem; }
      .reading-time-indicator .post-reading-time .read-estimation .read-estimation-content {
        display: table-cell;
        background-color: transparent;
        vertical-align: middle;
        margin-bottom: 0;
        padding-left: 0.9375rem; }
        .reading-time-indicator .post-reading-time .read-estimation .read-estimation-content .title {
          font-weight: 400;
          font-family: "Playfair Display", Georgia, serif;
          line-height: 1.1;
          font-size: 1rem;
          font-weight: 600; }
        .reading-time-indicator .post-reading-time .read-estimation .read-estimation-content .estimated-time {
          font-weight: 300;
          opacity: .6;
          font-family: "Playfair Display", Georgia, serif;
          font-size: 0.875rem; }
    .reading-time-indicator .post-reading-time .read-progress-indicator {
      width: 100%;
      height: 3.75rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      background-color: transparent;
      color: rgba(37, 37, 37, 0.05); }
      .reading-time-indicator .post-reading-time .read-progress-indicator::-webkit-progress-bar {
        background-color: transparent; }
      .reading-time-indicator .post-reading-time .read-progress-indicator.single::-ms-fill {
        border: 0; }
      .reading-time-indicator .post-reading-time .read-progress-indicator.single::-webkit-progress-value {
        background-color: rgba(37, 37, 37, 0.05); }
      .reading-time-indicator .post-reading-time .read-progress-indicator.single::-moz-progress-bar {
        background-color: rgba(37, 37, 37, 0.05); }
    .reading-time-indicator .post-reading-time .progress-container {
      width: 100%;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      height: 5rem;
      display: block;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      overflow-x: hidden; }
      .reading-time-indicator .post-reading-time .progress-container .progress-bar {
        background-color: #f4f4f4;
        width: 100%;
        height: 100%;
        display: block; }

.sermons {
 padding-top: 2.125rem;
  .row {
    background-color: #fff;
  }

  h2 {
    padding-top: 0;
  }

}


