*.DS_Store

/node_modules/*
/reallytest.html
/test.html
/4sl accordion.html
/bower_components/
/index-preheadroom.html
/index-old.html
/index-barossa.html
/js/smooth-scroll.js
/ministries.html
/shalombaptist.dev.esproj/
/gospel.html
/about-old.html
